<ng-template [ngIf]="!loginService.isLoggedIn()">
  <div class="header header-login">
    <div class="header__logo">
      <img src="./assets/icons/logo_min.svg" alt="logo" />
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="loginService.isLoggedIn()">
  <div class="header header-logged">
    <div class="header__top">
      <div class="header__top-left">
        <div class="header__logo" (click)="navigateTo('home')">
          <img src="./assets/icons/logo.svg" alt="logo" />
        </div>
        <bb-header-search></bb-header-search>
      </div>
      <div class="header__top-right">
        <div ngbDropdown>
          <div
            class="header__top-item"
            role="button"
            id="createDropdown"
            ngbDropdownToggle>
            <img
              class="header__icon"
              src="./assets/icons/plus.svg"
              alt="create" />
            <p>Создать</p>
          </div>
          <div ngbDropdownMenu aria-labelledby="createDropdown">
            <button ngbDropdownItem (click)="navigateTo('category')">
              Создать категорию
            </button>
            <button ngbDropdownItem (click)="navigateTo('subcategory')">
              Создать подкатегорию
            </button>
            <button ngbDropdownItem (click)="navigateTo('article')">
              Создать пост
            </button>
          </div>
        </div>

        <div class="header__top-item" (click)="openToastr()">
          <img
            class="header__icon"
            src="./assets/icons/bell.svg"
            alt="notifications" />
        </div>
        <div ngbDropdown>
          <div
            class="header__top-item"
            role="button"
            id="userDropdown"
            ngbDropdownToggle>
            <img
              class="header__icon"
              src="./assets/icons/profile.svg"
              alt="profile" />
            <p *ngIf="user">{{ user.name }}</p>
          </div>
          <div ngbDropdownMenu aria-labelledby="createDropdown">
            <button ngbDropdownItem (click)="logout()">Выйти</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
