<!-- <bb-loader [loading]="isPostLoading"> -->
<div class="row">
  <div class="col-md-9 col-sm-12 mb_24">
    <!-- <div class="container-wrapper"> -->
    <div class="post">
      <div class="post-header">
        <div class="post-header__left pointer" (click)="navigateSubcategory()">
          <span>
            <img src="./assets/icons/arrow_left_green.svg" alt="" />
          </span>
          {{ post?.sub_category_name }}
        </div>
        <div class="post-header__right">
          <div *ngIf="!isVersionPost" class="pointer" (click)="openVersions()">
            <span>
              <img src="./assets/icons/clock_green.svg" alt="" />
            </span>
            Версии
          </div>
          <div
            *ngIf="!isVersionPost"
            class="pointer"
            (click)="navigateEditPost()">
            <span>
              <img src="./assets/icons/edit_green.svg" alt="" />
            </span>
            Изменить
          </div>
          <div
            *ngIf="isVersionPost"
            class="pointer"
            (click)="revertPostVersion()">
            <span>
              <img src="./assets/icons/edit_green.svg" alt="" />
            </span>
            Вернуть
          </div>
          <div *ngIf="!isVersionPost" class="pointer" (click)="deletePost()">
            <span>
              <img src="./assets/icons/delete_urn_green.svg" alt="" />
            </span>
            Удалить
          </div>
          <!-- <div
            *ngIf="isVersionPost"
            class="pointer"
            (click)="navigatePost(post?.post_id)">
            АктуИнформацияальная версия
          </div> -->
        </div>
      </div>
      <div class="post-body" id="postBody">
        <h2 *ngIf="isVersionPost">
          История изменений (Версия - {{ post?.id }})
        </h2>
        <h2 class="post-title">
          {{ post?.title }}
        </h2>
        <div
          [innerHTML]="post?.content"
          *ngIf="
            variables.length === 0 && post?.content && !isPostLoading
          "></div>
        <!-- <bb-html-renderer
          *ngIf="variables.length > 0"
          [html]="post?.content"
          [varList]="variables"></bb-html-renderer> -->
        <bb-binder
          [html]="post?.content"
          *ngIf="variables.length > 0"
          [variables]="variables"></bb-binder>
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="info">
      <div class="info-header">
        <p class="info-title">Информация</p>
      </div>
      <div class="info-body">
        <div class="info-item">
          <p class="info-subtitle">Автор</p>
          <p class="info-text">{{ getUserName(this.post?.created_by) }}</p>
        </div>
        <div class="info-item">
          <p class="info-subtitle">Дата создания</p>
          <p class="info-text">{{ formatDate(this.post?.created_at) }}</p>
        </div>
        <div class="info-item">
          <p class="info-subtitle">Последний редактор</p>
          <ul>
            <li>
              <p class="info-text">{{ getUserName(this.post?.updated_by) }}</p>
            </li>
          </ul>
        </div>
        <div class="info-item">
          <p class="info-subtitle">Последнее изменение</p>
          <!-- <p class="info-text">{{ getUserName(this.post?.updated_by) }}</p> -->
          <p class="info-text">{{ formatDate(this.post?.updated_at) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </bb-loader> -->
