@import 'src/styles/variables.scss';

.updated-list {
  border-radius: 12px;
  background-color: #fff;

  &__header {
    background-color: #d7d7d7;
    padding: 16px 32px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  &__title {
    font-size: $font-size-h2-large;
    font-weight: $font-weight-bold;
    color: $color-black;
    letter-spacing: 0.02em;
  }

  &__body {
    padding: 24px 32px;
  }

  .list-item {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &__filled {
      height: 100px;
      min-width: 100px;
      border-radius: 8px;
    }
    &__body {
      width: 100%;
      align-self: flex-start;
    }
    &__header {
      margin-top: 8px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      font-weight: $font-weight-medium-bold;
      font-size: $font-size-medium;
      display: -webkit-box;
      max-width: 80%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__description,
    &__time {
      color: $color-gray-dark;
      font-weight: $font-weight-medium;
      font-size: $font-size-small;
    }

    &__description {
      display: -webkit-box;
      max-width: 80%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media screen and (max-width: 768px) {
  .updated-list {
    &__body {
      padding: 24px;
    }
    &__header {
      padding: 16px 24px;
    }
  }
}

@media screen and (max-width: 568px) {
  .updated-list {
    &__title {
      font-size: 24px;
    }
    &__body {
      padding: 16px;
    }
    &__header {
      padding: 16px;
    }

    .list-item {
      &__filled {
        min-width: 60px;
        height: 60px;
      }
    }
  }
}
