<div class="left-bar">
  <h2 class="left-bar__title">Категории</h2>
  <bb-loader
    [loading]="(categoryService.isCategoryListLoading$ | async) || false">
    <div
      class="left-bar__item"
      *ngFor="let category of categoryList; let i = index">
      <div class="left-bar__main" aria-controls="collapseExample">
        <span
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!categoryToggleList[i]"
          class="left-bar__icon"
          [ngClass]="{ 'left-bar__icon-top': categoryToggleList[i] }">
          <img src="./assets/icons/arrow_down.svg" alt="arrow" />
        </span>
        <p class="left-bar__subtitle" (click)="navigateCategory(category.id)">
          {{ category.title }}
        </p>
      </div>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="categoryToggleList[i]">
        <div
          class="left-bar__secondary"
          *ngFor="let sub of category.sub_categories">
          <span class="left-bar__icon rotate-90">
            <img src="./assets/icons/arrow_down.svg" alt="arrow" />
          </span>
          <p class="left-bar__subtitle" (click)="navigateSubcategory(sub.id)">
            {{ sub.title }}
          </p>
        </div>
      </div>
    </div>
  </bb-loader>
  <h2 class="left-bar__title underlined" (click)="navigateToVariables()">
    Переменные
  </h2>
</div>
