@import '/src/styles/variables.scss';

.modal {
  &-header {
    border-bottom: none;
    padding: 24px;
  }

  &-body {
  }
}

.search {
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 8px 16px;
  border-radius: 12px;
  background-color: $color-gray-main;
  max-width: 250px;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  &__left {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  &__text {
    font-weight: $font-weight-medium;
    font-size: $font-size-small;
    color: $color-black;
  }

  &__input {
    width: 100%;
    max-width: 242px;
    border: none;
    background-color: transparent;
    outline: none;
    padding-right: 8px;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    color: $color-black;
  }
}

.variable {
  &-input {
  }

  &-button {
    max-width: 120px;
    height: 40px;
  }
}

input[type='radio'] {
  height: 20px;
  width: 20px;
  &:after {
    border-color: $color-green;
    background-color: $color-green;
  }
  margin: auto 0;
}
