._btn {
  display: block;
  width: 100%;
  padding: 1px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: $font-size-small;

  &,
  &:focus,
  &.focus,
  &:active,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline: 0;
  }
}

.btn-success {
  background-color: $color-green;
  color: #fff;
  height: 56px;
  font-size: $font-size-medium;
}

.btn-outline-green {
  border: 1px solid $color-green;
  color: $color-green;
  height: 56px;
  font-size: $font-size-medium;
  background-color: #fff;
}

.h {
  &-40 {
    height: 40px;
  }
}