// custom grid variables

$grid-breakpoints: (
  xs: 0,
  mb: 328px,
  tb: 720px,
  smdt: 870px,
  dt: 1128px,
  lgdt: 1600px,
);

$container-max-widths: (
  mb: 328px,
  tb: 720px,
  smdt: 870px,
  dt: 1128px,
  lgdt: 1600px,
);

$grid-gutter-width: 32px;

@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
