//colors
$color-green: #50c55a;
$color-gray-main: #f3f3f3;
$color-black: #152536;
$color-gray: #88999c;
$color-gray-dark: #505c64;
$color-gray-light: #979ea3;

//fonts
$font-weight-thin: 300;
$font-weight-medium: 500;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-tiny: 10px;
$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-medium-large: 20px;
$font-size-large2: 26px;
$font-size-large: 28px;
$font-size-extra-large: 40px;

$font-size-h1-large: 40px;
$font-size-h2-large: 32px;
$font-size-h3-large: 24px;
$font-size-h3-medium: 26px;
$font-size-h4-large: 22px;
$font-size-h5-large: 20px;
$font-size-h6-large: 18px;
