<div class="search">
  <div class="search__header">
    <h3 class="search__title">Поиск</h3>
    <div class="search__filter">
      <span class="search__filter-icon">
        <img src="./assets/icons/filter.svg" alt="" />
      </span>
      <p class="search__text search__text-gray">фильтры</p>
    </div>
  </div>
  <div class="search__input-wrapper" [ngClass]="{ 'border-green': isFocused }">
    <div class="search__input-icon">
      <img src="./assets/icons/search_large.svg" alt="" />
    </div>
    <input
      class="search__input"
      type="text"
      [formControl]="searchString"
      placeholder="Введите для поиска"
      (focus)="onFocus()"
      (blur)="onBlur()"
      #search
      (change)="search.value = search.value.trim()" />
    <div
      class="search__input-icon"
      [ngClass]="{ 'display-none': !searchString.value }"
      (click)="cleanInput()">
      <img src="./assets/icons/delete.svg" alt="" />
    </div>
  </div>
  <ng-template [ngIf]="searchString.value || isSearchLoading">
    <bb-loader [loading]="isSearchLoading">
      <div class="search-result">
        <!-- <p class="search-result__title mb_24">История поиска</p> -->
        <p class="search-result__title mb_24">Результат поиска</p>
        <ng-container *ngFor="let result of searchResults; let ind = index">
          <div class="search-item">
            <bb-search-result
              [color]="getColor(ind)"
              [title]="result?.title"
              (navigate)="navigatePost(result?.id)"
              [rightText]="formatDate(result?.updated_at)"></bb-search-result>
          </div>
        </ng-container>
        <div class="search-not-found" *ngIf="notFound">Не найдено</div>
        <div
          class="search-result__more"
          *ngIf="allSearchResults?.length > 4 && !isSearchPage">
          <p class="search-result__title">Показать все</p>
          <span class="icon-arrow"
            ><img src="./assets/icons/arrow_right_stroke.svg" alt=""
          /></span>
        </div>
      </div>
    </bb-loader>
  </ng-template>
  <ng-template
    [ngIf]="(!searchString?.value && historyList?.length) || isHistoryLoading">
    <bb-loader [loading]="isHistoryLoading">
      <div class="search-result">
        <p class="search-result__title mb_24">История поиска</p>
        <ng-container *ngFor="let history of historyList; let ind = index">
          <div class="search-item">
            <bb-search-result
              [color]="getColor(ind)"
              [title]="history?.value"
              [isDelete]="true"
              (delete)="onHistoryDelete(history)"
              (navigate)="onHistoryClicked(history?.value)"
              [rightText]="formatDate(history?.created_at)"></bb-search-result>
          </div>
        </ng-container>
        <div
          class="search-result__more"
          *ngIf="allHistoryList?.length > 4 && !isSearchPage">
          <p class="search-result__title" (click)="showMoreHistory()">
            Показать все
          </p>
          <span class="icon-arrow"
            ><img src="./assets/icons/arrow_right_stroke.svg" alt=""
          /></span>
        </div>
      </div>
    </bb-loader>
  </ng-template>
</div>
