/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './styles/grid';
@import './styles/variables';
@import './styles/buttons';
@import './styles/forms';
@import './styles/ng-select';
@import './styles/reboot';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import 'ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-gray-main;
  scroll-behavior: smooth;
  font-size: $font-size-medium;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
}

.container-wrapper {
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
}

.mb {
  &_24 {
    margin-bottom: 24px;
  }

  &_16 {
    margin-bottom: 16px;
  }

  &_32 {
    margin-bottom: 32px;
  }
}

.mw {
  &-740 {
    max-width: 740px;
  }
  &-1020 {
    max-width: 1020px;
  }
}

.modal-content {
  border-radius: 12px;
}

.toast-container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px !important;
  box-shadow: -5px 8px 16px 0px rgba(0, 0, 0, 0.3) !important;
  margin-bottom: 2px !important;
}

.toast-container .toast {
  margin: 2px !important;
  box-shadow: none !important;
  border-radius: 8px !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.toast-top-right {
  top: 24px;
  right: 24px;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .container-wrapper {
    padding: 24px;
  }
}
@media screen and (max-width: 568px) {
  .container-wrapper {
    padding: 16px;
  }
}
