/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './styles/grid';
@import './styles/variables';
@import './styles/buttons';
@import './styles/forms';
@import './styles/ng-select';
@import '~@ng-select/ng-select/themes/default.theme.css';
* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-gray-main;
  scroll-behavior: smooth;
  font-size: $font-size-medium;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  padding: 0;
  margin: 0;
}

.container-wrapper {
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
}

.mb {
  &_24 {
    margin-bottom: 24px;
  }

  &_16 {
    margin-bottom: 16px;
  }

  &_32 {
    margin-bottom: 32px;
  }
}

.mw {
  &-740 {
    max-width: 740px;
  }
}

.modal-content {
  border-radius: 12px;
}
