<div class="container-wrapper" [formGroup]="form">
  <div class="create-post">
    <p class="create-post__title">
      {{ this.type === 'edit' ? 'Изменить пост' : 'Создать пост' }}
    </p>
    <div>
      <button
        id="choose"
        (click)="openChooseVariableModal()"
        style="display: none"></button>
      <button
        id="add"
        (click)="openAddVariableModal()"
        style="display: none"></button>
      <button
        id="imageUpload"
        (click)="openImageUploadModal()"
        style="display: none">
        >
      </button>
      <p class="create-post__subtitle">Детали поста</p>
      <div class="col-12 mb_16">
        <div class="form-floating">
          <input
            type="text"
            class="form-control base-input"
            id="title"
            formControlName="title"
            placeholder="Название" />
          <label for="title">Название</label>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb_24">
          <p class="modal__subtitle">Категория</p>
          <ng-select
            formControlName="category"
            placeholder="Выберите категорию"
            class="base-select"
            id="category"
            dropdownPosition="bottom"
            notFoundText="Не найдено"
            (change)="onCategoryChange($event)"
            [loading]="categoryService.isCategoryListLoading$ | async"
            [searchable]="true">
            <ng-option
              *ngFor="
                let category of categoryService.categoryListObserver$ | async
              "
              [value]="category">
              {{ category.title }}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-6 mb_24">
          <p class="modal__subtitle">Подкатегория</p>
          <ng-select
            formControlName="subcategory"
            placeholder="Выберите подкатегорию"
            class="base-select"
            id="subcategory"
            dropdownPosition="bottom"
            notFoundText="Не найдено"
            [searchable]="true">
            <ng-option
              *ngFor="let subcategory of subcategories"
              [value]="subcategory">
              {{ subcategory.title }}
            </ng-option>
          </ng-select>
        </div>
      </div>
      <!-- <div class="col-12 mb_32">
        <ng-select
          formControlName="postTags"
          placeholder="Выберите тэги"
          class="base-select"
          dropdownPosition="bottom"
          notFoundText="Не найдено"
          [searchable]="true"
          [multiple]="true"
          addTagText="Добавить новый"
          [items]="tags"
          bindLabel="name"
          [addTag]="addNewTag">
        </ng-select>
      </div> -->
    </div>
  </div>
  <p class="create-post__subtitle">Текст поста</p>
  <bb-loader [loading]="(editorSubject | async) === null"></bb-loader>
  <div class="create-post__editor">
    <editor
      (onInit)="onEditorInit($event)"
      apiKey="jk8cihs8koq4u4ir3ja4r0so6wihe0qlqyazbw4wxp5tzlvm"
      initialValue=""
      formControlName="editorContent"
      [init]="init"></editor>
  </div>

  <div class="create-post__footer">
    <button
      class="_btn btn-success create-post__button"
      (click)="onFormSubmit()">
      {{ this.type === 'edit' ? 'Изменить' : 'Создать' }}
    </button>
  </div>
</div>
